<!doctype html>
<html>
  <head>
    <title>Router Sample</title>
  </head>
  <body>

  {{ .Data }}

  <br>
  <br>

  <a href="/dashboard/">Dashboard</a>

  <br>

  <a href="/api/test">JSON</a>

  <br>

  <a href="/direct/test">Direct data</a>

  <br>

  <a href="/notound">NotFound</a>

  </body>
</html>
