<!doctype html>
<html>
  <head>
    <title>Router Login</title>
  </head>
  <body>

<form action="/login" method="POST">
<input type="input" name="userid" value="user"/>
<br/>
<input type="password" name="password" value="p@ssword"/>
<br/>
<input type="submit"/>
</form>

  </body>
</html>
